openapi: 3.0.1
info:
  contact:
    email: DeveloperTeam@sight-sound.com
    name: Sight & Sound Development Team
    url: https://sight-sound.com
  description: Sight & Sound Theatres Ticketing API
  title: Helios
  version: 0.0.1-SNAPSHOT
externalDocs:
  description: Sight & Sound API Documentation
  url: https://developer.sight-sound.com
servers:
- description: PROD
  url: https://helios.sight-sound.com
- description: DEV
  url: https://dev-helios.sight-sound.com
paths:
  /order/complete:
    post:
      description: Completes an order. Can be new or existing.
      operationId: completeOrder
      parameters:
      - explode: false
        in: path
        name: orderNumber
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCompleteRequest'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrderCompleteResponse'
          description: OK
      summary: Complete order
      tags:
      - order-controller
      x-content-type: application/json
      x-accepts: '*/*'
components:
  schemas:
    ACHRequest:
      example:
        paymentsRequest:
          dccQuote:
            reference: reference
            validTill: 2000-01-23T04:56:07.000+00:00
            signature: signature
            sell:
              currency: currency
              value: 7
            buy:
              currency: currency
              value: 7
            accountType: accountType
            interbank:
              currency: currency
              value: 7
            source: source
            type: type
            basePoints: 4
            baseAmount:
              currency: currency
              value: 7
            account: account
          metadata:
            key: metadata
          sessionValidity: sessionValidity
          splits:
          - reference: reference
            amount:
              currency: currency
              value: 6
            description: description
            type: null
            account: account
          - reference: reference
            amount:
              currency: currency
              value: 6
            description: description
            type: null
            account: account
          deviceFingerprint: deviceFingerprint
          redirectToIssuerMethod: redirectToIssuerMethod
          channel: null
          checkoutAttemptId: checkoutAttemptId
          mcc: mcc
          threeDSAuthenticationOnly: true
          merchantRiskIndicator:
            deliveryTimeframe: null
            reorderItems: true
            preOrderPurchase: true
            preOrderDate: 2000-01-23T04:56:07.000+00:00
            giftCardAmount:
              currency: currency
              value: 7
            deliveryEmail: deliveryEmail
            giftCardCount: 2
            addressMatch: true
            deliveryAddressIndicator: null
          lineItems:
          - quantity: 7
            amountExcludingTax: 9
            taxPercentage: 0
            imageUrl: imageUrl
            description: description
            id: id
            amountIncludingTax: 9
            taxAmount: 6
            productUrl: productUrl
            taxCategory: null
          - quantity: 7
            amountExcludingTax: 9
            taxPercentage: 0
            imageUrl: imageUrl
            description: description
            id: id
            amountIncludingTax: 9
            taxAmount: 6
            productUrl: productUrl
            taxCategory: null
          reference: reference
          deliveryAddress:
            country: country
            stateOrProvince: stateOrProvince
            city: city
            houseNumberOrName: houseNumberOrName
            street: street
            postalCode: postalCode
          installments:
            value: 0
          recurringProcessingModel: null
          additionalData:
            key: additionalData
          trustedShopper: true
          order:
            orderData: orderData
            pspReference: pspReference
          enablePayOut: true
          fraudOffset: 0
          entityType: null
          shopperEmail: shopperEmail
          enableOneClick: true
          threeDS2RequestData:
            notificationURL: notificationURL
            whiteListStatus: whiteListStatus
            authenticationOnly: true
            sdkMaxTimeout: 4
            sdkEncData: sdkEncData
            threeDSRequestorID: threeDSRequestorID
            acquirerBIN: acquirerBIN
            mcc: mcc
            deviceChannel: deviceChannel
            deviceRenderOptions:
              sdkUiType:
              - null
              - null
              sdkInterface: null
            sdkEphemPubKey:
              kty: kty
              crv: crv
              x: x
              "y": "y"
            merchantName: merchantName
            transactionType: null
            threeDSRequestorChallengeInd: threeDSRequestorChallengeInd
            threeDSRequestorURL: threeDSRequestorURL
            sdkReferenceNumber: sdkReferenceNumber
            challengeIndicator: null
            threeDSRequestorName: threeDSRequestorName
            sdkAppID: sdkAppID
            acquirerMerchantID: acquirerMerchantID
            threeDSCompInd: threeDSCompInd
            messageVersion: messageVersion
            sdkTransID: sdkTransID
            threeDSServerTransID: threeDSServerTransID
          orderReference: orderReference
          paymentMethod:
            type: type
          shopperLocale: shopperLocale
          captureDelayHours: 6
          applicationInfo:
            adyenLibrary:
              name: name
              version: version
            paymentDetailsSource:
              name: name
              version: version
            merchantApplication:
              name: name
              version: version
            adyenPaymentSource:
              name: name
              version: version
            merchantDevice:
              reference: reference
              os: os
              osVersion: osVersion
            shopperInteractionDevice:
              os: os
              osVersion: osVersion
              locale: locale
            externalPlatform:
              name: name
              integrator: integrator
              version: version
          browserInfo:
            screenWidth: 7
            acceptHeader: acceptHeader
            javaEnabled: true
            screenHeight: 0
            timeZoneOffset: 1
            javaScriptEnabled: true
            userAgent: userAgent
            language: language
            colorDepth: 4
          shopperReference: shopperReference
          shopperStatement: shopperStatement
          mandate:
            amount: amount
            amountRule: null
            billingDay: billingDay
            startsAt: startsAt
            billingAttemptsRule: null
            endsAt: endsAt
            remarks: remarks
            frequency: null
          telephoneNumber: telephoneNumber
          recurringFrequency: recurringFrequency
          socialSecurityNumber: socialSecurityNumber
          origin: origin
          shopperIP: shopperIP
          recurringExpiry: recurringExpiry
          shopperName:
            lastName: lastName
            firstName: firstName
            gender: null
            infix: infix
          countryCode: countryCode
          shopperInteraction: null
          company:
            registrationNumber: registrationNumber
            registryLocation: registryLocation
            taxId: taxId
            name: name
            type: type
            homepage: homepage
          deliveryDate: 2000-01-23T04:56:07.000+00:00
          returnUrl: returnUrl
          conversionId: conversionId
          accountInfo:
            passwordChangeDate: 2000-01-23T04:56:07.000+00:00
            paymentAccountIndicator: null
            suspiciousActivity: true
            deliveryAddressUsageIndicator: null
            pastTransactionsYear: 5
            accountType: null
            homePhone: homePhone
            paymentAccountAge: 2000-01-23T04:56:07.000+00:00
            accountAgeIndicator: null
            deliveryAddressUsageDate: 2000-01-23T04:56:07.000+00:00
            accountChangeDate: 2000-01-23T04:56:07.000+00:00
            accountCreationDate: 2000-01-23T04:56:07.000+00:00
            mobilePhone: mobilePhone
            pastTransactionsDay: 2
            accountChangeIndicator: null
            passwordChangeIndicator: null
            addCardAttemptsDay: 0
            workPhone: workPhone
            purchasesLast6Months: 0
          merchantOrderReference: merchantOrderReference
          amount:
            currency: currency
            value: 7
          redirectFromIssuerMethod: redirectFromIssuerMethod
          dateOfBirth: 2000-01-23T04:56:07.000+00:00
          store: store
          riskData:
            fraudOffset: 2
            customFields:
              key: customFields
            profileReference: profileReference
            clientData: clientData
          storePaymentMethod: true
          merchantAccount: merchantAccount
          billingAddress:
            country: country
            stateOrProvince: stateOrProvince
            city: city
            houseNumberOrName: houseNumberOrName
            street: street
            postalCode: postalCode
          enableRecurring: true
          mpiData:
            cavv: cavv
            authenticationResponse: null
            xid: xid
            cavvAlgorithm: cavvAlgorithm
            dsTransID: dsTransID
            directoryResponse: null
            eci: eci
            threeDSVersion: threeDSVersion
        checkAmount: 3.196820582978078
        storedPaymentMethodId: storedPaymentMethodId
      properties:
        storedPaymentMethodId:
          type: string
        paymentsRequest:
          $ref: '#/components/schemas/PaymentsRequest'
        checkAmount:
          type: number
      type: object
    AccountAgeIndicatorEnum:
      enum:
      - notApplicable
      - thisTransaction
      - lessThan30Days
      - from30To60Days
      - moreThan60Days
      type: string
    AccountChangeIndicatorEnum:
      enum:
      - thisTransaction
      - lessThan30Days
      - from30To60Days
      - moreThan60Days
      type: string
    AccountInfo:
      example:
        passwordChangeDate: 2000-01-23T04:56:07.000+00:00
        paymentAccountIndicator: null
        suspiciousActivity: true
        deliveryAddressUsageIndicator: null
        pastTransactionsYear: 5
        accountType: null
        homePhone: homePhone
        paymentAccountAge: 2000-01-23T04:56:07.000+00:00
        accountAgeIndicator: null
        deliveryAddressUsageDate: 2000-01-23T04:56:07.000+00:00
        accountChangeDate: 2000-01-23T04:56:07.000+00:00
        accountCreationDate: 2000-01-23T04:56:07.000+00:00
        mobilePhone: mobilePhone
        pastTransactionsDay: 2
        accountChangeIndicator: null
        passwordChangeIndicator: null
        addCardAttemptsDay: 0
        workPhone: workPhone
        purchasesLast6Months: 0
      properties:
        accountAgeIndicator:
          $ref: '#/components/schemas/AccountAgeIndicatorEnum'
        accountChangeDate:
          format: date-time
          type: string
        accountChangeIndicator:
          $ref: '#/components/schemas/AccountChangeIndicatorEnum'
        accountCreationDate:
          format: date-time
          type: string
        accountType:
          $ref: '#/components/schemas/AccountTypeEnum'
        addCardAttemptsDay:
          format: int32
          type: integer
        deliveryAddressUsageDate:
          format: date-time
          type: string
        deliveryAddressUsageIndicator:
          $ref: '#/components/schemas/DeliveryAddressUsageIndicatorEnum'
        homePhone:
          type: string
        mobilePhone:
          type: string
        passwordChangeDate:
          format: date-time
          type: string
        passwordChangeIndicator:
          $ref: '#/components/schemas/PasswordChangeIndicatorEnum'
        pastTransactionsDay:
          format: int32
          type: integer
        pastTransactionsYear:
          format: int32
          type: integer
        paymentAccountAge:
          format: date-time
          type: string
        paymentAccountIndicator:
          $ref: '#/components/schemas/PaymentAccountIndicatorEnum'
        purchasesLast6Months:
          format: int32
          type: integer
        suspiciousActivity:
          type: boolean
        workPhone:
          type: string
      type: object
    AccountTypeEnum:
      enum:
      - notApplicable
      - credit
      - debit
      type: string
    ActivityType:
      enum:
      - ADD
      - CHANGE
      - ORDER_ACTIVITY_ADD
      - ORDER_ACTIVITY_CHANGE
      - ORDER_ACTIVITY_CANCEL
      - ORDER_ITEM_ACTIVITY_SPECIAL_DISCOUNT_REMOVED
      - ORDER_ITEM_ACTIVITY_SPECIAL_DISCOUNT_APPLIED
      - ORDER_ITEM_ACTIVITY_RESERVED
      - ORDER_ITEM_ACTIVITY_COUNT_INCREASED
      - ORDER_ITEM_ACTIVITY_COUNT_DECREASED
      - ORDER_ITEM_ACTIVITY_AMOUNT_INCREASED
      - ORDER_ITEM_ACTIVITY_AMOUNT_DECREASED
      - ORDER_ITEM_ACTIVITY_DESIGNATION_CHANGE
      - ORDER_ITEM_ACTIVITY_TRANSFERRED_IN
      - ORDER_ITEM_ACTIVITY_CANCELLED
      - ORDER_ITEM_ACTIVITY_SPECIAL_SITUATION_MODIFIED
      type: string
    AdditionalContactRole:
      enum:
      - MANAGER
      - ACCOUNTING
      - MARKETING
      - GENERAL
      type: string
    Address:
      example:
        country: country
        stateOrProvince: stateOrProvince
        city: city
        houseNumberOrName: houseNumberOrName
        street: street
        postalCode: postalCode
      properties:
        city:
          type: string
        country:
          type: string
        houseNumberOrName:
          type: string
        postalCode:
          type: string
        stateOrProvince:
          type: string
        street:
          type: string
      type: object
    AddressExtended:
      example:
        zipcode: zipcode
        country: country
        city: city
        addressLine1: addressLine1
        addressLine2: addressLine2
        state: state
      properties:
        addressLine1:
          maxLength: 200
          minLength: 0
          pattern: "^[a-zA-Z0-9\\s\\-&]*"
          type: string
        city:
          maxLength: 100
          minLength: 0
          pattern: "^[a-zA-Z0-9\\s\\-&]*"
          type: string
        state:
          maxLength: 50
          minLength: 0
          pattern: "^[a-zA-Z0-9\\s\\-&]*"
          type: string
        zipcode:
          maxLength: 12
          minLength: 0
          pattern: "^[a-zA-Z0-9\\s\\-&]*"
          type: string
        country:
          maxLength: 50
          minLength: 0
          pattern: "^[a-zA-Z0-9\\s\\-&]*"
          type: string
        addressLine2:
          maxLength: 200
          minLength: 0
          type: string
      required:
      - country
      type: object
    AddressVerifyStatus:
      enum:
      - UNEXPIRED
      - EXPIRED
      - FAILED
      - UNVERIFIED
      type: string
    Amount:
      example:
        currency: currency
        value: 7
      properties:
        value:
          format: int64
          type: integer
        currency:
          type: string
      type: object
    AmountRuleEnum:
      enum:
      - max
      - exact
      type: string
    ApplicationInfo:
      example:
        adyenLibrary:
          name: name
          version: version
        paymentDetailsSource:
          name: name
          version: version
        merchantApplication:
          name: name
          version: version
        adyenPaymentSource:
          name: name
          version: version
        merchantDevice:
          reference: reference
          os: os
          osVersion: osVersion
        shopperInteractionDevice:
          os: os
          osVersion: osVersion
          locale: locale
        externalPlatform:
          name: name
          integrator: integrator
          version: version
      properties:
        adyenLibrary:
          $ref: '#/components/schemas/CommonField'
        adyenPaymentSource:
          $ref: '#/components/schemas/CommonField'
        externalPlatform:
          $ref: '#/components/schemas/ExternalPlatform'
        merchantApplication:
          $ref: '#/components/schemas/CommonField'
        merchantDevice:
          $ref: '#/components/schemas/MerchantDevice'
        paymentDetailsSource:
          $ref: '#/components/schemas/CommonField'
        shopperInteractionDevice:
          $ref: '#/components/schemas/ShopperInteractionDevice'
      type: object
    AuthenticationResponseEnum:
      enum:
      - "Y"
      - "N"
      - U
      - A
      type: string
    BillingAttemptsRuleEnum:
      enum:
      - "on"
      - before
      - after
      type: string
    BookingLocation:
      enum:
      - STRASBURG_PA
      - BRANSON_MO
      - ALL
      type: string
    BrowserInfo:
      example:
        screenWidth: 7
        acceptHeader: acceptHeader
        javaEnabled: true
        screenHeight: 0
        timeZoneOffset: 1
        javaScriptEnabled: true
        userAgent: userAgent
        language: language
        colorDepth: 4
      properties:
        userAgent:
          type: string
        colorDepth:
          format: int32
          type: integer
        javaEnabled:
          type: boolean
        language:
          type: string
        screenHeight:
          format: int32
          type: integer
        screenWidth:
          format: int32
          type: integer
        timeZoneOffset:
          format: int32
          type: integer
        acceptHeader:
          type: string
        javaScriptEnabled:
          type: boolean
      type: object
    CartRequest:
      example:
        groupName: groupName
        ticketBatch: null
        orderNumber: 0
        referenceNumber: referenceNumber
        promoCode: promoCode
        items:
        - eventCode: eventCode
          itemNumber: 6
          details:
          - orderItemDetail:
              itemNumber: 5
              manDiscountValue: 1.2315135367772556
              custDiscountTotalAmount: 4.965218492984954
              orderNumber: 5
              manDiscountTotalAmount: 7.457744773683766
              totalPrice: 1.4894159098541704
              specialDiscountValue: 7.386281948385884
              gratuity: 8.762042012749001
              custDiscountValue: 4.145608029883936
              confirmedCount: 1
              seatDiscountTotalAmount: 1.1730742509559433
              price: 9.369310271410669
              manDiscountTypeCode: null
              deltaCount: 7
              unprintedCount: 9
              savings: 3.3182952910080674
              printedCount: 5
              specialTypeCode: null
              new: true
              compCount: 6
              orderItem:
                miscSkuRef: miscSkuRef
                seatedCount: 7
                canDoSteps: true
                itemGrandTotalPrice: 3.0937452626664474
                totalGratuity: 0.6052866655822231
                miscSkuDescription: miscSkuDescription
                manDiscountCode: manDiscountCode
                totalDesignationCount: 7
                printedCount: 6
                taxType: null
                order:
                  editUserId: editUserId
                  allShowTourItem:
                  - null
                  - null
                  finalPaymentExtDueDate: 2000-01-23T04:56:07.000+00:00
                  companyName: companyName
                  totalGratuity: 5.499986845135928
                  deliverDateTime: 2000-01-23T04:56:07.000+00:00
                  activeShowItems:
                  - null
                  - null
                  slidingScaleDiscount: 3.0576100241049344
                  invoiceCompany: null
                  sourceCode: sourceCode
                  firstOccurringTourItem: null
                  waiveDepositDue: true
                  invoices:
                  - orderNumber: 2
                    syncSource: null
                    dueDate: 2000-01-23T04:56:07.000+00:00
                    contactFirstName: contactFirstName
                    type: null
                    voidDate: 2000-01-23T04:56:07.000+00:00
                    paidDate: 2000-01-23T04:56:07.000+00:00
                    invoiceNumber: 7
                    company: null
                    invoiceDetails:
                    - gltNumber: 5
                      itemNumber: 5
                      glPeriod: 9
                      crSegment1: crSegment1
                      inventoryCost: 4.372688051310086
                      crSegment3: crSegment3
                      crSegment2: crSegment2
                      invoiceSeqNumber: 6
                      description: description
                      units: 1
                      rate: 1.2555055362323109
                      lineType: lineType
                      invoiceNumber: 4
                      crSegment5: crSegment5
                      crSegment4: crSegment4
                      company: null
                      gltCompany: null
                      comments: comments
                      modifyDate: 2000-01-23T04:56:07.000+00:00
                      voidStatus: null
                      baseAmount: 1.5970080735609526
                      locationCD: locationCD
                      processDate: 2000-01-23T04:56:07.000+00:00
                      invoice: null
                      averageCost: 5.7911894223693885
                      skuCode: skuCode
                      totalCost: 3.812761638325517
                      eventDate: 2000-01-23T04:56:07.000+00:00
                    - gltNumber: 5
                      itemNumber: 5
                      glPeriod: 9
                      crSegment1: crSegment1
                      inventoryCost: 4.372688051310086
                      crSegment3: crSegment3
                      crSegment2: crSegment2
                      invoiceSeqNumber: 6
                      description: description
                      units: 1
                      rate: 1.2555055362323109
                      lineType: lineType
                      invoiceNumber: 4
                      crSegment5: crSegment5
                      crSegment4: crSegment4
                      company: null
                      gltCompany: null
                      comments: comments
                      modifyDate: 2000-01-23T04:56:07.000+00:00
                      voidStatus: null
                      baseAmount: 1.5970080735609526
                      locationCD: locationCD
                      processDate: 2000-01-23T04:56:07.000+00:00
                      invoice: null
                      averageCost: 5.7911894223693885
                      skuCode: skuCode
                      totalCost: 3.812761638325517
                      eventDate: 2000-01-23T04:56:07.000+00:00
                    paymentTerms: null
                    batchNumber: batchNumber
                    order: null
                    arSegment4: arSegment4
                    modifyDate: 2000-01-23T04:56:07.000+00:00
                    arSegment5: arSegment5
                    addUserId: addUserId
                    arSegment2: arSegment2
                    receiptDetails:
                    - date: 2000-01-23T04:56:07.000+00:00
                      gltNumber: 7
                      creditSegment1: creditSegment1
                      receiptDetailStatus: receiptDetailStatus
                      modifyDate: 2000-01-23T04:56:07.000+00:00
                      creditSegment3: creditSegment3
                      type: null
                      receiptDetailAmount: 3.2841216543560217
                      creditSegment2: creditSegment2
                      invoiceCompany: null
                      creditSegment5: creditSegment5
                      creditSegment4: creditSegment4
                      debitSegment3: debitSegment3
                      debitSegment4: debitSegment4
                      debitSegment5: debitSegment5
                      debitSegment1: debitSegment1
                      debitSegment2: debitSegment2
                      invoiceNumber: 9
                      seqNumber: 1
                      receipt:
                        syncSource: null
                        editUserId: editUserId
                        glPeriod: 4
                        description: description
                        paymentType: null
                        receiptAmount: 9.402167524121316
                        company: null
                        reasonCode: null
                        receiptNumber: 7
                        bankCode: bankCode
                        checkNumber: checkNumber
                        receiptType: null
                        modifyDate: 2000-01-23T04:56:07.000+00:00
                        addUserId: addUserId
                        receiptDetails:
                        - null
                        - null
                        receiptDate: 2000-01-23T04:56:07.000+00:00
                        customerNumber: 7
                        baseAmount: 8.262795412896967
                        ccSeqNumber: 2
                        location: location
                        paidAmount: 1.7045651386993
                        receiptStatus: null
                        controlNumber: 3
                        executiveSeriesReceiptNumber: 9
                        customer:
                          emailVerifiedDate: 2000-01-23T04:56:07.000+00:00
                          numberBookedNextYear: 7
                          emailList: true
                          companyName: companyName
                          uspsAddressError: uspsAddressError
                          customerTypeResponse: null
                          addressVerifyFailDate: 2000-01-23T04:56:07.000+00:00
                          type: null
                          slidingScaleDiscount: true
                          sourceCode: sourceCode
                          lastShowTickets: lastShowTickets
                          employeeExitDate: 2000-01-23T04:56:07.000+00:00
                          press: true
                          printETicket: true
                          addUserId: addUserId
                          active: true
                          immediateSeatAssign: true
                          customerAttributes:
                          - attributeType: null
                            attribute: attribute
                            customerNumber: 3
                            customer: null
                          - attributeType: null
                            attribute: attribute
                            customerNumber: 3
                            customer: null
                          numberCanceledLastYear: 4
                          sysCheckResult: sysCheckResult
                          orders:
                          - null
                          - null
                          lastShowDate: 2000-01-23T04:56:07.000+00:00
                          mailingList: true
                          fitFrozenOverride: true
                          passPhrase: passPhrase
                          lastName: lastName
                          textList: true
                          corpAffiliatedCode: corpAffiliatedCode
                          generalConsumer: true
                          church: true
                          additionalContacts:
                          - lastName: lastName
                            textList: true
                            extension: extension
                            phoneType: null
                            role: null
                            modifyDate: 2000-01-23T04:56:07.000+00:00
                            contactId: 7
                            addUserId: addUserId
                            emailList: true
                            modifyUserId: modifyUserId
                            customerNumber: 0
                            title: title
                            addDate: 2000-01-23T04:56:07.000+00:00
                            callList: true
                            communicationPreferences:
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            firstName: firstName
                            emailAddress: emailAddress
                            phoneNumber: phoneNumber
                            customer: null
                            primary: true
                          - lastName: lastName
                            textList: true
                            extension: extension
                            phoneType: null
                            role: null
                            modifyDate: 2000-01-23T04:56:07.000+00:00
                            contactId: 7
                            addUserId: addUserId
                            emailList: true
                            modifyUserId: modifyUserId
                            customerNumber: 0
                            title: title
                            addDate: 2000-01-23T04:56:07.000+00:00
                            callList: true
                            communicationPreferences:
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            firstName: firstName
                            emailAddress: emailAddress
                            phoneNumber: phoneNumber
                            customer: null
                            primary: true
                          lastBookingDate: 2000-01-23T04:56:07.000+00:00
                          congregationSize: 5
                          marketingPartner: true
                          ticketDelivery: null
                          bookUntilDate: 2000-01-23T04:56:07.000+00:00
                          customerNameToDisplay: customerNameToDisplay
                          email: email
                          clubMemberCancelComments: clubMemberCancelComments
                          sysProcessDate: 2000-01-23T04:56:07.000+00:00
                          address:
                            zipcode: zipcode
                            country: country
                            city: city
                            addressLine1: addressLine1
                            addressLine2: addressLine2
                            state: state
                          empNumber: 7
                          reseller: true
                          corpIdNumber: corpIdNumber
                          addDate: 2000-01-23T04:56:07.000+00:00
                          groupNumber: 4
                          tour: true
                          custDetail: true
                          birthYear: birthYear
                          fitMaxTickets: 9
                          organization: true
                          lastShowCode: lastShowCode
                          contacts:
                          - lastName: lastName
                            textList: true
                            extension: extension
                            phoneType: null
                            role: null
                            modifyDate: 2000-01-23T04:56:07.000+00:00
                            contactId: 7
                            addUserId: addUserId
                            emailList: true
                            modifyUserId: modifyUserId
                            customerNumber: 0
                            title: title
                            addDate: 2000-01-23T04:56:07.000+00:00
                            callList: true
                            communicationPreferences:
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            firstName: firstName
                            emailAddress: emailAddress
                            phoneNumber: phoneNumber
                            customer: null
                            primary: true
                          - lastName: lastName
                            textList: true
                            extension: extension
                            phoneType: null
                            role: null
                            modifyDate: 2000-01-23T04:56:07.000+00:00
                            contactId: 7
                            addUserId: addUserId
                            emailList: true
                            modifyUserId: modifyUserId
                            customerNumber: 0
                            title: title
                            addDate: 2000-01-23T04:56:07.000+00:00
                            callList: true
                            communicationPreferences:
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            firstName: firstName
                            emailAddress: emailAddress
                            phoneNumber: phoneNumber
                            customer: null
                            primary: true
                          rpOfficeNumber: rpOfficeNumber
                          ageRange: ageRange
                          notes:
                          - null
                          - null
                          emailStyle: emailStyle
                          documents:
                          - recordId: 8
                            expiryDate: 2000-01-23T04:56:07.000+00:00
                            documentType: null
                            addUserId: addUserId
                            fileUrl: fileUrl
                            customerNumber: 4
                            addDate: 2000-01-23T04:56:07.000+00:00
                            customer: null
                          - recordId: 8
                            expiryDate: 2000-01-23T04:56:07.000+00:00
                            documentType: null
                            addUserId: addUserId
                            fileUrl: fileUrl
                            customerNumber: 4
                            addDate: 2000-01-23T04:56:07.000+00:00
                            customer: null
                          upsAddresses:
                          - address:
                              country: country
                              stateOrProvince: stateOrProvince
                              city: city
                              houseNumberOrName: houseNumberOrName
                              street: street
                              postalCode: postalCode
                            customerNumber: 3
                            customer: null
                          - address:
                              country: country
                              stateOrProvince: stateOrProvince
                              city: city
                              houseNumberOrName: houseNumberOrName
                              street: street
                              postalCode: postalCode
                            customerNumber: 3
                            customer: null
                          receptive: true
                          employee: true
                          sysStatusCode: sysStatusCode
                          fitMaxTicketsEmailSent: true
                          club: true
                          sysCheckDate: 2000-01-23T04:56:07.000+00:00
                          numberBookedCurrYear: 6
                          additionalDiscPercent: 0.8774076871421566
                          addressVerifyDate: 2000-01-23T04:56:07.000+00:00
                          group: true
                          checkPayment: true
                          taxExempt: true
                          callList: true
                          firstName: firstName
                          birthMonth: birthMonth
                          corpIdExpirationDate: 2000-01-23T04:56:07.000+00:00
                          clubCancelDate: 2000-01-23T04:56:07.000+00:00
                          fitPrepaidThresholdEmail: true
                          accountFrozen: true
                          emailPaperwork: true
                          lastShowOrderNumber: 6
                          phones:
                          - sequenceNumber: 5
                            phoneType: null
                            phoneNumber: phoneNumber
                            phoneNote: phoneNote
                            customerNumber: 9
                            customer: null
                          - sequenceNumber: 5
                            phoneType: null
                            phoneNumber: phoneNumber
                            phoneNote: phoneNote
                            customerNumber: 9
                            customer: null
                          title: title
                          specialNeeds: true
                          numberCanceledCurrYear: 4
                          tier: true
                          addressVerifiedStatus: null
                          company: true
                          prices:
                          - booked: 1
                            slidingScaleTickets: 6
                            ticketIncrease: 7
                            postPay: true
                            ticketDecrease: 3
                            percent1: 9.254183946267839
                            percent2: 3.502657762086401
                            bookingLocation: null
                            percent3: 8.761432466225475
                            percent4: 5.299143560275359
                            customerNumber: 0
                            slidingScaleDiscount: 4.573936264232251
                            pricingLevel: null
                            speculativeBooking: 3
                            tickets2: 1
                            tickets1: 8
                            tickets4: 0
                            percent5: 8.37823741034869
                            tickets3: 9
                            tickets5: 5
                            cancelled: 8
                            salesRepId: salesRepId
                            tierYear: 2
                            customer: null
                          - booked: 1
                            slidingScaleTickets: 6
                            ticketIncrease: 7
                            postPay: true
                            ticketDecrease: 3
                            percent1: 9.254183946267839
                            percent2: 3.502657762086401
                            bookingLocation: null
                            percent3: 8.761432466225475
                            percent4: 5.299143560275359
                            customerNumber: 0
                            slidingScaleDiscount: 4.573936264232251
                            pricingLevel: null
                            speculativeBooking: 3
                            tickets2: 1
                            tickets1: 8
                            tickets4: 0
                            percent5: 8.37823741034869
                            tickets3: 9
                            tickets5: 5
                            cancelled: 8
                            salesRepId: salesRepId
                            tierYear: 2
                            customer: null
                          birthDay: birthDay
                          comments: comments
                          defaultPhoneNumber: defaultPhoneNumber
                          oldCustTypeCode: null
                          customerNumber: 0
                          sourceCodeComments: sourceCodeComments
                          extraCompTickets: 0
                          fitFrozen: true
                          numberCanceledNextYear: 9
                          primaryContact:
                            lastName: lastName
                            textList: true
                            extension: extension
                            phoneType: null
                            role: null
                            modifyDate: 2000-01-23T04:56:07.000+00:00
                            contactId: 7
                            addUserId: addUserId
                            emailList: true
                            modifyUserId: modifyUserId
                            customerNumber: 0
                            title: title
                            addDate: 2000-01-23T04:56:07.000+00:00
                            callList: true
                            communicationPreferences:
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            firstName: firstName
                            emailAddress: emailAddress
                            phoneNumber: phoneNumber
                            customer: null
                            primary: true
                          numberBookedLastYear: 1
                      invoice: null
                      gltCompany: null
                      receiptNumber: 3
                      receiptCompany: null
                    - date: 2000-01-23T04:56:07.000+00:00
                      gltNumber: 7
                      creditSegment1: creditSegment1
                      receiptDetailStatus: receiptDetailStatus
                      modifyDate: 2000-01-23T04:56:07.000+00:00
                      creditSegment3: creditSegment3
                      type: null
                      receiptDetailAmount: 3.2841216543560217
                      creditSegment2: creditSegment2
                      invoiceCompany: null
                      creditSegment5: creditSegment5
                      creditSegment4: creditSegment4
                      debitSegment3: debitSegment3
                      debitSegment4: debitSegment4
                      debitSegment5: debitSegment5
                      debitSegment1: debitSegment1
                      debitSegment2: debitSegment2
                      invoiceNumber: 9
                      seqNumber: 1
                      receipt:
                        syncSource: null
                        editUserId: editUserId
                        glPeriod: 4
                        description: description
                        paymentType: null
                        receiptAmount: 9.402167524121316
                        company: null
                        reasonCode: null
                        receiptNumber: 7
                        bankCode: bankCode
                        checkNumber: checkNumber
                        receiptType: null
                        modifyDate: 2000-01-23T04:56:07.000+00:00
                        addUserId: addUserId
                        receiptDetails:
                        - null
                        - null
                        receiptDate: 2000-01-23T04:56:07.000+00:00
                        customerNumber: 7
                        baseAmount: 8.262795412896967
                        ccSeqNumber: 2
                        location: location
                        paidAmount: 1.7045651386993
                        receiptStatus: null
                        controlNumber: 3
                        executiveSeriesReceiptNumber: 9
                        customer:
                          emailVerifiedDate: 2000-01-23T04:56:07.000+00:00
                          numberBookedNextYear: 7
                          emailList: true
                          companyName: companyName
                          uspsAddressError: uspsAddressError
                          customerTypeResponse: null
                          addressVerifyFailDate: 2000-01-23T04:56:07.000+00:00
                          type: null
                          slidingScaleDiscount: true
                          sourceCode: sourceCode
                          lastShowTickets: lastShowTickets
                          employeeExitDate: 2000-01-23T04:56:07.000+00:00
                          press: true
                          printETicket: true
                          addUserId: addUserId
                          active: true
                          immediateSeatAssign: true
                          customerAttributes:
                          - attributeType: null
                            attribute: attribute
                            customerNumber: 3
                            customer: null
                          - attributeType: null
                            attribute: attribute
                            customerNumber: 3
                            customer: null
                          numberCanceledLastYear: 4
                          sysCheckResult: sysCheckResult
                          orders:
                          - null
                          - null
                          lastShowDate: 2000-01-23T04:56:07.000+00:00
                          mailingList: true
                          fitFrozenOverride: true
                          passPhrase: passPhrase
                          lastName: lastName
                          textList: true
                          corpAffiliatedCode: corpAffiliatedCode
                          generalConsumer: true
                          church: true
                          additionalContacts:
                          - lastName: lastName
                            textList: true
                            extension: extension
                            phoneType: null
                            role: null
                            modifyDate: 2000-01-23T04:56:07.000+00:00
                            contactId: 7
                            addUserId: addUserId
                            emailList: true
                            modifyUserId: modifyUserId
                            customerNumber: 0
                            title: title
                            addDate: 2000-01-23T04:56:07.000+00:00
                            callList: true
                            communicationPreferences:
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            firstName: firstName
                            emailAddress: emailAddress
                            phoneNumber: phoneNumber
                            customer: null
                            primary: true
                          - lastName: lastName
                            textList: true
                            extension: extension
                            phoneType: null
                            role: null
                            modifyDate: 2000-01-23T04:56:07.000+00:00
                            contactId: 7
                            addUserId: addUserId
                            emailList: true
                            modifyUserId: modifyUserId
                            customerNumber: 0
                            title: title
                            addDate: 2000-01-23T04:56:07.000+00:00
                            callList: true
                            communicationPreferences:
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            firstName: firstName
                            emailAddress: emailAddress
                            phoneNumber: phoneNumber
                            customer: null
                            primary: true
                          lastBookingDate: 2000-01-23T04:56:07.000+00:00
                          congregationSize: 5
                          marketingPartner: true
                          ticketDelivery: null
                          bookUntilDate: 2000-01-23T04:56:07.000+00:00
                          customerNameToDisplay: customerNameToDisplay
                          email: email
                          clubMemberCancelComments: clubMemberCancelComments
                          sysProcessDate: 2000-01-23T04:56:07.000+00:00
                          address:
                            zipcode: zipcode
                            country: country
                            city: city
                            addressLine1: addressLine1
                            addressLine2: addressLine2
                            state: state
                          empNumber: 7
                          reseller: true
                          corpIdNumber: corpIdNumber
                          addDate: 2000-01-23T04:56:07.000+00:00
                          groupNumber: 4
                          tour: true
                          custDetail: true
                          birthYear: birthYear
                          fitMaxTickets: 9
                          organization: true
                          lastShowCode: lastShowCode
                          contacts:
                          - lastName: lastName
                            textList: true
                            extension: extension
                            phoneType: null
                            role: null
                            modifyDate: 2000-01-23T04:56:07.000+00:00
                            contactId: 7
                            addUserId: addUserId
                            emailList: true
                            modifyUserId: modifyUserId
                            customerNumber: 0
                            title: title
                            addDate: 2000-01-23T04:56:07.000+00:00
                            callList: true
                            communicationPreferences:
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            firstName: firstName
                            emailAddress: emailAddress
                            phoneNumber: phoneNumber
                            customer: null
                            primary: true
                          - lastName: lastName
                            textList: true
                            extension: extension
                            phoneType: null
                            role: null
                            modifyDate: 2000-01-23T04:56:07.000+00:00
                            contactId: 7
                            addUserId: addUserId
                            emailList: true
                            modifyUserId: modifyUserId
                            customerNumber: 0
                            title: title
                            addDate: 2000-01-23T04:56:07.000+00:00
                            callList: true
                            communicationPreferences:
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            firstName: firstName
                            emailAddress: emailAddress
                            phoneNumber: phoneNumber
                            customer: null
                            primary: true
                          rpOfficeNumber: rpOfficeNumber
                          ageRange: ageRange
                          notes:
                          - null
                          - null
                          emailStyle: emailStyle
                          documents:
                          - recordId: 8
                            expiryDate: 2000-01-23T04:56:07.000+00:00
                            documentType: null
                            addUserId: addUserId
                            fileUrl: fileUrl
                            customerNumber: 4
                            addDate: 2000-01-23T04:56:07.000+00:00
                            customer: null
                          - recordId: 8
                            expiryDate: 2000-01-23T04:56:07.000+00:00
                            documentType: null
                            addUserId: addUserId
                            fileUrl: fileUrl
                            customerNumber: 4
                            addDate: 2000-01-23T04:56:07.000+00:00
                            customer: null
                          upsAddresses:
                          - address:
                              country: country
                              stateOrProvince: stateOrProvince
                              city: city
                              houseNumberOrName: houseNumberOrName
                              street: street
                              postalCode: postalCode
                            customerNumber: 3
                            customer: null
                          - address:
                              country: country
                              stateOrProvince: stateOrProvince
                              city: city
                              houseNumberOrName: houseNumberOrName
                              street: street
                              postalCode: postalCode
                            customerNumber: 3
                            customer: null
                          receptive: true
                          employee: true
                          sysStatusCode: sysStatusCode
                          fitMaxTicketsEmailSent: true
                          club: true
                          sysCheckDate: 2000-01-23T04:56:07.000+00:00
                          numberBookedCurrYear: 6
                          additionalDiscPercent: 0.8774076871421566
                          addressVerifyDate: 2000-01-23T04:56:07.000+00:00
                          group: true
                          checkPayment: true
                          taxExempt: true
                          callList: true
                          firstName: firstName
                          birthMonth: birthMonth
                          corpIdExpirationDate: 2000-01-23T04:56:07.000+00:00
                          clubCancelDate: 2000-01-23T04:56:07.000+00:00
                          fitPrepaidThresholdEmail: true
                          accountFrozen: true
                          emailPaperwork: true
                          lastShowOrderNumber: 6
                          phones:
                          - sequenceNumber: 5
                            phoneType: null
                            phoneNumber: phoneNumber
                            phoneNote: phoneNote
                            customerNumber: 9
                            customer: null
                          - sequenceNumber: 5
                            phoneType: null
                            phoneNumber: phoneNumber
                            phoneNote: phoneNote
                            customerNumber: 9
                            customer: null
                          title: title
                          specialNeeds: true
                          numberCanceledCurrYear: 4
                          tier: true
                          addressVerifiedStatus: null
                          company: true
                          prices:
                          - booked: 1
                            slidingScaleTickets: 6
                            ticketIncrease: 7
                            postPay: true
                            ticketDecrease: 3
                            percent1: 9.254183946267839
                            percent2: 3.502657762086401
                            bookingLocation: null
                            percent3: 8.761432466225475
                            percent4: 5.299143560275359
                            customerNumber: 0
                            slidingScaleDiscount: 4.573936264232251
                            pricingLevel: null
                            speculativeBooking: 3
                            tickets2: 1
                            tickets1: 8
                            tickets4: 0
                            percent5: 8.37823741034869
                            tickets3: 9
                            tickets5: 5
                            cancelled: 8
                            salesRepId: salesRepId
                            tierYear: 2
                            customer: null
                          - booked: 1
                            slidingScaleTickets: 6
                            ticketIncrease: 7
                            postPay: true
                            ticketDecrease: 3
                            percent1: 9.254183946267839
                            percent2: 3.502657762086401
                            bookingLocation: null
                            percent3: 8.761432466225475
                            percent4: 5.299143560275359
                            customerNumber: 0
                            slidingScaleDiscount: 4.573936264232251
                            pricingLevel: null
                            speculativeBooking: 3
                            tickets2: 1
                            tickets1: 8
                            tickets4: 0
                            percent5: 8.37823741034869
                            tickets3: 9
                            tickets5: 5
                            cancelled: 8
                            salesRepId: salesRepId
                            tierYear: 2
                            customer: null
                          birthDay: birthDay
                          comments: comments
                          defaultPhoneNumber: defaultPhoneNumber
                          oldCustTypeCode: null
                          customerNumber: 0
                          sourceCodeComments: sourceCodeComments
                          extraCompTickets: 0
                          fitFrozen: true
                          numberCanceledNextYear: 9
                          primaryContact:
                            lastName: lastName
                            textList: true
                            extension: extension
                            phoneType: null
                            role: null
                            modifyDate: 2000-01-23T04:56:07.000+00:00
                            contactId: 7
                            addUserId: addUserId
                            emailList: true
                            modifyUserId: modifyUserId
                            customerNumber: 0
                            title: title
                            addDate: 2000-01-23T04:56:07.000+00:00
                            callList: true
                            communicationPreferences:
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            firstName: firstName
                            emailAddress: emailAddress
                            phoneNumber: phoneNumber
                            customer: null
                            primary: true
                          numberBookedLastYear: 1
                      invoice: null
                      gltCompany: null
                      receiptNumber: 3
                      receiptCompany: null
                    arSegment3: arSegment3
                    invoiceDate: 2000-01-23T04:56:07.000+00:00
                    customerNumber: 9
                    lastPrintDate: 2000-01-23T04:56:07.000+00:00
                    baseAmount: 0.58919091925136
                    lockFlag: true
                    totalAmount: 4.332304821875894
                    postFlag: postFlag
                    reservationLocation: reservationLocation
                    arSegment1: arSegment1
                    contactLastName: contactLastName
                    executiveSeriesInvoiceNumber: 6
                    category: null
                    paidAmount: 2.7977867356748476
                    orderDate: 2000-01-23T04:56:07.000+00:00
                    status: null
                    customer:
                      emailVerifiedDate: 2000-01-23T04:56:07.000+00:00
                      numberBookedNextYear: 7
                      emailList: true
                      companyName: companyName
                      uspsAddressError: uspsAddressError
                      customerTypeResponse: null
                      addressVerifyFailDate: 2000-01-23T04:56:07.000+00:00
                      type: null
                      slidingScaleDiscount: true
                      sourceCode: sourceCode
                      lastShowTickets: lastShowTickets
                      employeeExitDate: 2000-01-23T04:56:07.000+00:00
                      press: true
                      printETicket: true
                      addUserId: addUserId
                      active: true
                      immediateSeatAssign: true
                      customerAttributes:
                      - attributeType: null
                        attribute: attribute
                        customerNumber: 3
                        customer: null
                      - attributeType: null
                        attribute: attribute
                        customerNumber: 3
                        customer: null
                      numberCanceledLastYear: 4
                      sysCheckResult: sysCheckResult
                      orders:
                      - null
                      - null
                      lastShowDate: 2000-01-23T04:56:07.000+00:00
                      mailingList: true
                      fitFrozenOverride: true
                      passPhrase: passPhrase
                      lastName: lastName
                      textList: true
                      corpAffiliatedCode: corpAffiliatedCode
                      generalConsumer: true
                      church: true
                      additionalContacts:
                      - lastName: lastName
                        textList: true
                        extension: extension
                        phoneType: null
                        role: null
                        modifyDate: 2000-01-23T04:56:07.000+00:00
                        contactId: 7
                        addUserId: addUserId
                        emailList: true
                        modifyUserId: modifyUserId
                        customerNumber: 0
                        title: title
                        addDate: 2000-01-23T04:56:07.000+00:00
                        callList: true
                        communicationPreferences:
                        - contactId: 2
                          communicationTag: communicationTag
                          customerNumber: 3
                        - contactId: 2
                          communicationTag: communicationTag
                          customerNumber: 3
                        firstName: firstName
                        emailAddress: emailAddress
                        phoneNumber: phoneNumber
                        customer: null
                        primary: true
                      - lastName: lastName
                        textList: true
                        extension: extension
                        phoneType: null
                        role: null
                        modifyDate: 2000-01-23T04:56:07.000+00:00
                        contactId: 7
                        addUserId: addUserId
                        emailList: true
                        modifyUserId: modifyUserId
                        customerNumber: 0
                        title: title
                        addDate: 2000-01-23T04:56:07.000+00:00
                        callList: true
                        communicationPreferences:
                        - contactId: 2
                          communicationTag: communicationTag
                          customerNumber: 3
                        - contactId: 2
                          communicationTag: communicationTag
                          customerNumber: 3
                        firstName: firstName
                        emailAddress: emailAddress
                        phoneNumber: phoneNumber
                        customer: null
                        primary: true
                      lastBookingDate: 2000-01-23T04:56:07.000+00:00
                      congregationSize: 5
                      marketingPartner: true
                      ticketDelivery: null
                      bookUntilDate: 2000-01-23T04:56:07.000+00:00
                      customerNameToDisplay: customerNameToDisplay
                      email: email
                      clubMemberCancelComments: clubMemberCancelComments
                      sysProcessDate: 2000-01-23T04:56:07.000+00:00
                      address:
                        zipcode: zipcode
                        country: country
                        city: city
                        addressLine1: addressLine1
                        addressLine2: addressLine2
                        state: state
                      empNumber: 7
                      reseller: true
                      corpIdNumber: corpIdNumber
                      addDate: 2000-01-23T04:56:07.000+00:00
                      groupNumber: 4
                      tour: true
                      custDetail: true
                      birthYear: birthYear
                      fitMaxTickets: 9
                      organization: true
                      lastShowCode: lastShowCode
                      contacts:
                      - lastName: lastName
                        textList: true
                        extension: extension
                        phoneType: null
                        role: null
                        modifyDate: 2000-01-23T04:56:07.000+00:00
                        contactId: 7
                        addUserId: addUserId
                        emailList: true
                        modifyUserId: modifyUserId
                        customerNumber: 0
                        title: title
                        addDate: 2000-01-23T04:56:07.000+00:00
                        callList: true
                        communicationPreferences:
                        - contactId: 2
                          communicationTag: communicationTag
                          customerNumber: 3
                        - contactId: 2
                          communicationTag: communicationTag
                          customerNumber: 3
                        firstName: firstName
                        emailAddress: emailAddress
                        phoneNumber: phoneNumber
                        customer: null
                        primary: true
                      - lastName: lastName
                        textList: true
                        extension: extension
                        phoneType: null
                        role: null
                        modifyDate: 2000-01-23T04:56:07.000+00:00
                        contactId: 7
                        addUserId: addUserId
                        emailList: true
                        modifyUserId: modifyUserId
                        customerNumber: 0
                        title: title
                        addDate: 2000-01-23T04:56:07.000+00:00
                        callList: true
                        communicationPreferences:
                        - contactId: 2
                          communicationTag: communicationTag
                          customerNumber: 3
                        - contactId: 2
                          communicationTag: communicationTag
                          customerNumber: 3
                        firstName: firstName
                        emailAddress: emailAddress
                        phoneNumber: phoneNumber
                        customer: null
                        primary: true
                      rpOfficeNumber: rpOfficeNumber
                      ageRange: ageRange
                      notes:
                      - null
                      - null
                      emailStyle: emailStyle
                      documents:
                      - recordId: 8
                        expiryDate: 2000-01-23T04:56:07.000+00:00
                        documentType: null
                        addUserId: addUserId
                        fileUrl: fileUrl
                        customerNumber: 4
                        addDate: 2000-01-23T04:56:07.000+00:00
                        customer: null
                      - recordId: 8
                        expiryDate: 2000-01-23T04:56:07.000+00:00
                        documentType: null
                        addUserId: addUserId
                        fileUrl: fileUrl
                        customerNumber: 4
                        addDate: 2000-01-23T04:56:07.000+00:00
                        customer: null
                      upsAddresses:
                      - address:
                          country: country
                          stateOrProvince: stateOrProvince
                          city: city
                          houseNumberOrName: houseNumberOrName
                          street: street
                          postalCode: postalCode
                        customerNumber: 3
                        customer: null
                      - address:
                          country: country
                          stateOrProvince: stateOrProvince
                          city: city
                          houseNumberOrName: houseNumberOrName
                          street: street
                          postalCode: postalCode
                        customerNumber: 3
                        customer: null
                      receptive: true
                      employee: true
                      sysStatusCode: sysStatusCode
                      fitMaxTicketsEmailSent: true
                      club: true
                      sysCheckDate: 2000-01-23T04:56:07.000+00:00
                      numberBookedCurrYear: 6
                      additionalDiscPercent: 0.8774076871421566
                      addressVerifyDate: 2000-01-23T04:56:07.000+00:00
                      group: true
                      checkPayment: true
                      taxExempt: true
                      callList: true
                      firstName: firstName
                      birthMonth: birthMonth
                      corpIdExpirationDate: 2000-01-23T04:56:07.000+00:00
                      clubCancelDate: 2000-01-23T04:56:07.000+00:00
                      fitPrepaidThresholdEmail: true
                      accountFrozen: true
                      emailPaperwork: true
                      lastShowOrderNumber: 6
                      phones:
                      - sequenceNumber: 5
                        phoneType: null
                        phoneNumber: phoneNumber
                        phoneNote: phoneNote
                        customerNumber: 9
                        customer: null
                      - sequenceNumber: 5
                        phoneType: null
                        phoneNumber: phoneNumber
                        phoneNote: phoneNote
                        customerNumber: 9
                        customer: null
                      title: title
                      specialNeeds: true
                      numberCanceledCurrYear: 4
                      tier: true
                      addressVerifiedStatus: null
                      company: true
                      prices:
                      - booked: 1
                        slidingScaleTickets: 6
                        ticketIncrease: 7
                        postPay: true
                        ticketDecrease: 3
                        percent1: 9.254183946267839
                        percent2: 3.502657762086401
                        bookingLocation: null
                        percent3: 8.761432466225475
                        percent4: 5.299143560275359
                        customerNumber: 0
                        slidingScaleDiscount: 4.573936264232251
                        pricingLevel: null
                        speculativeBooking: 3
                        tickets2: 1
                        tickets1: 8
                        tickets4: 0
                        percent5: 8.37823741034869
                        tickets3: 9
                        tickets5: 5
                        cancelled: 8
                        salesRepId: salesRepId
                        tierYear: 2
                        customer: null
                      - booked: 1
                        slidingScaleTickets: 6
                        ticketIncrease: 7
                        postPay: true
                        ticketDecrease: 3
                        percent1: 9.254183946267839
                        percent2: 3.502657762086401
                        bookingLocation: null
                        percent3: 8.761432466225475
                        percent4: 5.299143560275359
                        customerNumber: 0
                        slidingScaleDiscount: 4.573936264232251
                        pricingLevel: null
                        speculativeBooking: 3
                        tickets2: 1
                        tickets1: 8
                        tickets4: 0
                        percent5: 8.37823741034869
                        tickets3: 9
                        tickets5: 5
                        cancelled: 8
                        salesRepId: salesRepId
                        tierYear: 2
                        customer: null
                      birthDay: birthDay
                      comments: comments
                      defaultPhoneNumber: defaultPhoneNumber
                      oldCustTypeCode: null
                      customerNumber: 0
                      sourceCodeComments: sourceCodeComments
                      extraCompTickets: 0
                      fitFrozen: true
                      numberCanceledNextYear: 9
                      primaryContact:
                        lastName: lastName
                        textList: true
                        extension: extension
                        phoneType: null
                        role: null
                        modifyDate: 2000-01-23T04:56:07.000+00:00
                        contactId: 7
                        addUserId: addUserId
                        emailList: true
                        modifyUserId: modifyUserId
                        customerNumber: 0
                        title: title
                        addDate: 2000-01-23T04:56:07.000+00:00
                        callList: true
                        communicationPreferences:
                        - contactId: 2
                          communicationTag: communicationTag
                          customerNumber: 3
                        - contactId: 2
                          communicationTag: communicationTag
                          customerNumber: 3
                        firstName: firstName
                        emailAddress: emailAddress
                        phoneNumber: phoneNumber
                        customer: null
                        primary: true
                      numberBookedLastYear: 1
                  - orderNumber: 2
                    syncSource: null
                    dueDate: 2000-01-23T04:56:07.000+00:00
                    contactFirstName: contactFirstName
                    type: null
                    voidDate: 2000-01-23T04:56:07.000+00:00
                    paidDate: 2000-01-23T04:56:07.000+00:00
                    invoiceNumber: 7
                    company: null
                    invoiceDetails:
                    - gltNumber: 5
                      itemNumber: 5
                      glPeriod: 9
                      crSegment1: crSegment1
                      inventoryCost: 4.372688051310086
                      crSegment3: crSegment3
                      crSegment2: crSegment2
                      invoiceSeqNumber: 6
                      description: description
                      units: 1
                      rate: 1.2555055362323109
                      lineType: lineType
                      invoiceNumber: 4
                      crSegment5: crSegment5
                      crSegment4: crSegment4
                      company: null
                      gltCompany: null
                      comments: comments
                      modifyDate: 2000-01-23T04:56:07.000+00:00
                      voidStatus: null
                      baseAmount: 1.5970080735609526
                      locationCD: locationCD
                      processDate: 2000-01-23T04:56:07.000+00:00
                      invoice: null
                      averageCost: 5.7911894223693885
                      skuCode: skuCode
                      totalCost: 3.812761638325517
                      eventDate: 2000-01-23T04:56:07.000+00:00
                    - gltNumber: 5
                      itemNumber: 5
                      glPeriod: 9
                      crSegment1: crSegment1
                      inventoryCost: 4.372688051310086
                      crSegment3: crSegment3
                      crSegment2: crSegment2
                      invoiceSeqNumber: 6
                      description: description
                      units: 1
                      rate: 1.2555055362323109
                      lineType: lineType
                      invoiceNumber: 4
                      crSegment5: crSegment5
                      crSegment4: crSegment4
                      company: null
                      gltCompany: null
                      comments: comments
                      modifyDate: 2000-01-23T04:56:07.000+00:00
                      voidStatus: null
                      baseAmount: 1.5970080735609526
                      locationCD: locationCD
                      processDate: 2000-01-23T04:56:07.000+00:00
                      invoice: null
                      averageCost: 5.7911894223693885
                      skuCode: skuCode
                      totalCost: 3.812761638325517
                      eventDate: 2000-01-23T04:56:07.000+00:00
                    paymentTerms: null
                    batchNumber: batchNumber
                    order: null
                    arSegment4: arSegment4
                    modifyDate: 2000-01-23T04:56:07.000+00:00
                    arSegment5: arSegment5
                    addUserId: addUserId
                    arSegment2: arSegment2
                    receiptDetails:
                    - date: 2000-01-23T04:56:07.000+00:00
                      gltNumber: 7
                      creditSegment1: creditSegment1
                      receiptDetailStatus: receiptDetailStatus
                      modifyDate: 2000-01-23T04:56:07.000+00:00
                      creditSegment3: creditSegment3
                      type: null
                      receiptDetailAmount: 3.2841216543560217
                      creditSegment2: creditSegment2
                      invoiceCompany: null
                      creditSegment5: creditSegment5
                      creditSegment4: creditSegment4
                      debitSegment3: debitSegment3
                      debitSegment4: debitSegment4
                      debitSegment5: debitSegment5
                      debitSegment1: debitSegment1
                      debitSegment2: debitSegment2
                      invoiceNumber: 9
                      seqNumber: 1
                      receipt:
                        syncSource: null
                        editUserId: editUserId
                        glPeriod: 4
                        description: description
                        paymentType: null
                        receiptAmount: 9.402167524121316
                        company: null
                        reasonCode: null
                        receiptNumber: 7
                        bankCode: bankCode
                        checkNumber: checkNumber
                        receiptType: null
                        modifyDate: 2000-01-23T04:56:07.000+00:00
                        addUserId: addUserId
                        receiptDetails:
                        - null
                        - null
                        receiptDate: 2000-01-23T04:56:07.000+00:00
                        customerNumber: 7
                        baseAmount: 8.262795412896967
                        ccSeqNumber: 2
                        location: location
                        paidAmount: 1.7045651386993
                        receiptStatus: null
                        controlNumber: 3
                        executiveSeriesReceiptNumber: 9
                        customer:
                          emailVerifiedDate: 2000-01-23T04:56:07.000+00:00
                          numberBookedNextYear: 7
                          emailList: true
                          companyName: companyName
                          uspsAddressError: uspsAddressError
                          customerTypeResponse: null
                          addressVerifyFailDate: 2000-01-23T04:56:07.000+00:00
                          type: null
                          slidingScaleDiscount: true
                          sourceCode: sourceCode
                          lastShowTickets: lastShowTickets
                          employeeExitDate: 2000-01-23T04:56:07.000+00:00
                          press: true
                          printETicket: true
                          addUserId: addUserId
                          active: true
                          immediateSeatAssign: true
                          customerAttributes:
                          - attributeType: null
                            attribute: attribute
                            customerNumber: 3
                            customer: null
                          - attributeType: null
                            attribute: attribute
                            customerNumber: 3
                            customer: null
                          numberCanceledLastYear: 4
                          sysCheckResult: sysCheckResult
                          orders:
                          - null
                          - null
                          lastShowDate: 2000-01-23T04:56:07.000+00:00
                          mailingList: true
                          fitFrozenOverride: true
                          passPhrase: passPhrase
                          lastName: lastName
                          textList: true
                          corpAffiliatedCode: corpAffiliatedCode
                          generalConsumer: true
                          church: true
                          additionalContacts:
                          - lastName: lastName
                            textList: true
                            extension: extension
                            phoneType: null
                            role: null
                            modifyDate: 2000-01-23T04:56:07.000+00:00
                            contactId: 7
                            addUserId: addUserId
                            emailList: true
                            modifyUserId: modifyUserId
                            customerNumber: 0
                            title: title
                            addDate: 2000-01-23T04:56:07.000+00:00
                            callList: true
                            communicationPreferences:
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            firstName: firstName
                            emailAddress: emailAddress
                            phoneNumber: phoneNumber
                            customer: null
                            primary: true
                          - lastName: lastName
                            textList: true
                            extension: extension
                            phoneType: null
                            role: null
                            modifyDate: 2000-01-23T04:56:07.000+00:00
                            contactId: 7
                            addUserId: addUserId
                            emailList: true
                            modifyUserId: modifyUserId
                            customerNumber: 0
                            title: title
                            addDate: 2000-01-23T04:56:07.000+00:00
                            callList: true
                            communicationPreferences:
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            firstName: firstName
                            emailAddress: emailAddress
                            phoneNumber: phoneNumber
                            customer: null
                            primary: true
                          lastBookingDate: 2000-01-23T04:56:07.000+00:00
                          congregationSize: 5
                          marketingPartner: true
                          ticketDelivery: null
                          bookUntilDate: 2000-01-23T04:56:07.000+00:00
                          customerNameToDisplay: customerNameToDisplay
                          email: email
                          clubMemberCancelComments: clubMemberCancelComments
                          sysProcessDate: 2000-01-23T04:56:07.000+00:00
                          address:
                            zipcode: zipcode
                            country: country
                            city: city
                            addressLine1: addressLine1
                            addressLine2: addressLine2
                            state: state
                          empNumber: 7
                          reseller: true
                          corpIdNumber: corpIdNumber
                          addDate: 2000-01-23T04:56:07.000+00:00
                          groupNumber: 4
                          tour: true
                          custDetail: true
                          birthYear: birthYear
                          fitMaxTickets: 9
                          organization: true
                          lastShowCode: lastShowCode
                          contacts:
                          - lastName: lastName
                            textList: true
                            extension: extension
                            phoneType: null
                            role: null
                            modifyDate: 2000-01-23T04:56:07.000+00:00
                            contactId: 7
                            addUserId: addUserId
                            emailList: true
                            modifyUserId: modifyUserId
                            customerNumber: 0
                            title: title
                            addDate: 2000-01-23T04:56:07.000+00:00
                            callList: true
                            communicationPreferences:
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            firstName: firstName
                            emailAddress: emailAddress
                            phoneNumber: phoneNumber
                            customer: null
                            primary: true
                          - lastName: lastName
                            textList: true
                            extension: extension
                            phoneType: null
                            role: null
                            modifyDate: 2000-01-23T04:56:07.000+00:00
                            contactId: 7
                            addUserId: addUserId
                            emailList: true
                            modifyUserId: modifyUserId
                            customerNumber: 0
                            title: title
                            addDate: 2000-01-23T04:56:07.000+00:00
                            callList: true
                            communicationPreferences:
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            firstName: firstName
                            emailAddress: emailAddress
                            phoneNumber: phoneNumber
                            customer: null
                            primary: true
                          rpOfficeNumber: rpOfficeNumber
                          ageRange: ageRange
                          notes:
                          - null
                          - null
                          emailStyle: emailStyle
                          documents:
                          - recordId: 8
                            expiryDate: 2000-01-23T04:56:07.000+00:00
                            documentType: null
                            addUserId: addUserId
                            fileUrl: fileUrl
                            customerNumber: 4
                            addDate: 2000-01-23T04:56:07.000+00:00
                            customer: null
                          - recordId: 8
                            expiryDate: 2000-01-23T04:56:07.000+00:00
                            documentType: null
                            addUserId: addUserId
                            fileUrl: fileUrl
                            customerNumber: 4
                            addDate: 2000-01-23T04:56:07.000+00:00
                            customer: null
                          upsAddresses:
                          - address:
                              country: country
                              stateOrProvince: stateOrProvince
                              city: city
                              houseNumberOrName: houseNumberOrName
                              street: street
                              postalCode: postalCode
                            customerNumber: 3
                            customer: null
                          - address:
                              country: country
                              stateOrProvince: stateOrProvince
                              city: city
                              houseNumberOrName: houseNumberOrName
                              street: street
                              postalCode: postalCode
                            customerNumber: 3
                            customer: null
                          receptive: true
                          employee: true
                          sysStatusCode: sysStatusCode
                          fitMaxTicketsEmailSent: true
                          club: true
                          sysCheckDate: 2000-01-23T04:56:07.000+00:00
                          numberBookedCurrYear: 6
                          additionalDiscPercent: 0.8774076871421566
                          addressVerifyDate: 2000-01-23T04:56:07.000+00:00
                          group: true
                          checkPayment: true
                          taxExempt: true
                          callList: true
                          firstName: firstName
                          birthMonth: birthMonth
                          corpIdExpirationDate: 2000-01-23T04:56:07.000+00:00
                          clubCancelDate: 2000-01-23T04:56:07.000+00:00
                          fitPrepaidThresholdEmail: true
                          accountFrozen: true
                          emailPaperwork: true
                          lastShowOrderNumber: 6
                          phones:
                          - sequenceNumber: 5
                            phoneType: null
                            phoneNumber: phoneNumber
                            phoneNote: phoneNote
                            customerNumber: 9
                            customer: null
                          - sequenceNumber: 5
                            phoneType: null
                            phoneNumber: phoneNumber
                            phoneNote: phoneNote
                            customerNumber: 9
                            customer: null
                          title: title
                          specialNeeds: true
                          numberCanceledCurrYear: 4
                          tier: true
                          addressVerifiedStatus: null
                          company: true
                          prices:
                          - booked: 1
                            slidingScaleTickets: 6
                            ticketIncrease: 7
                            postPay: true
                            ticketDecrease: 3
                            percent1: 9.254183946267839
                            percent2: 3.502657762086401
                            bookingLocation: null
                            percent3: 8.761432466225475
                            percent4: 5.299143560275359
                            customerNumber: 0
                            slidingScaleDiscount: 4.573936264232251
                            pricingLevel: null
                            speculativeBooking: 3
                            tickets2: 1
                            tickets1: 8
                            tickets4: 0
                            percent5: 8.37823741034869
                            tickets3: 9
                            tickets5: 5
                            cancelled: 8
                            salesRepId: salesRepId
                            tierYear: 2
                            customer: null
                          - booked: 1
                            slidingScaleTickets: 6
                            ticketIncrease: 7
                            postPay: true
                            ticketDecrease: 3
                            percent1: 9.254183946267839
                            percent2: 3.502657762086401
                            bookingLocation: null
                            percent3: 8.761432466225475
                            percent4: 5.299143560275359
                            customerNumber: 0
                            slidingScaleDiscount: 4.573936264232251
                            pricingLevel: null
                            speculativeBooking: 3
                            tickets2: 1
                            tickets1: 8
                            tickets4: 0
                            percent5: 8.37823741034869
                            tickets3: 9
                            tickets5: 5
                            cancelled: 8
                            salesRepId: salesRepId
                            tierYear: 2
                            customer: null
                          birthDay: birthDay
                          comments: comments
                          defaultPhoneNumber: defaultPhoneNumber
                          oldCustTypeCode: null
                          customerNumber: 0
                          sourceCodeComments: sourceCodeComments
                          extraCompTickets: 0
                          fitFrozen: true
                          numberCanceledNextYear: 9
                          primaryContact:
                            lastName: lastName
                            textList: true
                            extension: extension
                            phoneType: null
                            role: null
                            modifyDate: 2000-01-23T04:56:07.000+00:00
                            contactId: 7
                            addUserId: addUserId
                            emailList: true
                            modifyUserId: modifyUserId
                            customerNumber: 0
                            title: title
                            addDate: 2000-01-23T04:56:07.000+00:00
                            callList: true
                            communicationPreferences:
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            - contactId: 2
                              communicationTag: communicationTag
                              customerNumber: 3
                            firstName: firstName
                            emailAddress: emailAddress
[...]
